# .obsidian
/.obsidian/backlink.json
/.obsidian/bookmarks.json
/.obsidian/daily-notes.json
/.obsidian/graph.json
/.obsidian/page-preview.json
/.obsidian/workspace.json

# nvim
/nvim/lazy-lock.json

# rime
/rime/build/
/rime/*.userdb/
/rime/default.custom.yaml
/rime/installation.yaml
/rime/user.yaml
