# .obsidian
/.obsidian/backlink.json
/.obsidian/bookmarks.json
/.obsidian/daily-notes.json
/.obsidian/graph.json
/.obsidian/page-preview.json
/.obsidian/workspace.json

# nvim
/nvim/.config/nvim/lazy-lock.json
