[Desktop Entry]
Version=1.1
Type=Application
Name=Wireless ADB
GenericName=Android Debug Bridge over Wi-Fi
Comment=Connect to Android devices wirelessly using ADB (Android Debug Bridge) for debugging and development purposes.
Icon=xsi-network-wireless-acquiring-symbolic
Exec=connect-adb
Actions=
Categories=Debug;Development;
Keywords=adb;android;debugging;wireless;development;
